<section>

  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

  </div>

  <div class="blurb">
  <p>
  <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
  Pellentesque commodo pulvinar massa. Curabitur pellentesque enim sed ipsum ultrices, vel commodo felis iaculis. Vivamus non urna lacus. Nunc egestas congue aliquam. Aliquam massa elit, pharetra ut diam sit amet, auctor efficitur quam. Etiam fermentum purus ut nunc posuere auctor.
  </div>

  <div class="skill-lockup">

    <div class="skill-unit">
      <div class="skill-label">Communication</div>
      <div class="skill-icon skill-9">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Organization</div>
      <div class="skill-icon skill-9">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Learning</div>
      <div class="skill-icon skill-9">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Teaching</div>
      <div class="skill-icon skill-7">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Planning</div>
      <div class="skill-icon skill-7">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Problem Solving</div>
      <div class="skill-icon skill-8">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Programming</div>
      <div class="skill-icon skill-8">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    <div class="skill-unit">
      <div class="skill-label">Design</div>
      <div class="skill-icon skill-7">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>


  </div>

</section>
