<section>

  <h3>About Myself</h3>
  
  <div class="face-lockup">
  
    <div class="face-img"></div>
      
  </div>
  
  <div class="blurb">
  <p>
  <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Pellentesque commodo pulvinar massa. Curabitur pellentesque enim sed ipsum ultrices, vel commodo felis iaculis. Vivamus non urna lacus. Nunc egestas congue aliquam. Aliquam massa elit, pharetra ut diam sit amet, auctor efficitur quam. Etiam fermentum purus ut nunc posuere auctor.
  </div>

</section>