<section>

  <h3>About Myself</h3>
  
  <div class="face-lockup">
  
    <div class="face-img"></div>
      
  </div>
  
  <p>
  <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Pellentesque commodo pulvinar massa. Curabitur pellentesque enim sed ipsum ultrices, vel commodo felis iaculis. Vivamus non urna lacus. Nunc egestas congue aliquam. Aliquam massa elit, pharetra ut diam sit amet, auctor efficitur quam. Etiam fermentum purus ut nunc posuere auctor. Maecenas elementum, lectus ut interdum cursus, risus libero dapibus diam, ac consectetur metus tellus id est. Aenean ut nunc a justo suscipit tincidunt sit amet et tortor. Proin et ex leo. Sed rhoncus ac ipsum quis gravida. Nunc sit amet pulvinar augue, in pulvinar magna. Nam libero enim, vulputate ac pretium sit amet, efficitur nec libero.
  </p>

</section>